{% extends "shop/base.html" %}
{% load i18n %}
{% block title %}Заказ{% endblock %}
{% block content %}
    <h1>{% trans 'Заказ' %}</h1>
    <div class="order-info">
        <h3>{% trans 'Ваш заказ' %}</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.price }}
                    <span>{{ item.total_price }}</span>
                </li>
            {% endfor %}
            {% if cart.coupon %}
                <li>
                    "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% {% trans 'скидка' %})
                    <span class="neg">- ₽{{ cart.get_discount|floatformat:2 }}</span>
                </li>
            {% endif %}
        </ul>
        <p>{% trans 'Итого' %}: {{ cart.get_total_price }}</p>
    </div>
    <form method="post" class="order-form">
        {{ form.as_p }}
        {% csrf_token %}
        <p>
            <input type="submit" value="{% trans 'Заказать' %}">
        </p>
    </form>
{% endblock %}
